.BodyFont {
  font-family: Verdana, Arial;
  font-size: 9pt;
}

.Header1 {
  font-family: Verdana, Arial;
  font-size: 28pt;
  font-weight: bold;
}

.Header2 {
  font-family: Verdana, Arial;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
}

.Header3 {
  font-family: Verdana, Arial;
  font-size: 14pt;
  font-style: italic;
}

.Header4 {
  font-family: Verdana, Arial;
  font-size: 12pt;
  font-weight: bold;
}

.chart_header {
  font-family: Verdana, Arial;
  font-size: 11pt;
  font-weight: bold;
}

.normal {
  font-family: Verdana, Arial;
  font-size: 9pt;
  text-indent: 2em;
}

.noindent {
  font-family: Verdana, Arial;
  font-size: 9pt;
}

.pt18 {
  font-family: Verdana, Arial;
  font-size: 18pt;
}

.pt17 {
  font-family: Verdana, Arial;
  font-size: 17pt;
}

.pt16 {
  font-family: Verdana, Arial;
  font-size: 16pt;
}

.pt15 {
  font-family: Verdana, Arial;
  font-size: 15pt;
}

.pt14 {
  font-family: Verdana, Arial;
  font-size: 14pt;
}

.pt13 {
  font-family: Verdana, Arial;
  font-size: 13pt;
}

.pt12 {
  font-family: Verdana, Arial;
  font-size: 12pt;
}

.pt11 {
  font-family: Verdana, Arial;
  font-size: 11pt;
}

.pt10 {
  font-family: Verdana, Arial;
  font-size: 10pt;
}

.pt9 {
  font-family: Verdana, Arial;
  font-size: 9pt;
}

.pt8 {
  font-family: Verdana, Arial;
  font-size: 8pt;
}

.courier10 {
  font-family: Courier;
  font-size: 10pt;
}

.dmnote {
  font-family: "Courier New", Verdana, Arial;
  color: #FF0000;
}

